In [1]:
import os
from pathlib import Path
import pandas as pd
from dotenv import load_dotenv
from sqlalchemy import create_engine, text

# Wenn dein Notebook in notebooks/ liegt und .env im Projekt-Root:
load_dotenv(Path("..") / ".env")

DB_HOST = os.getenv("DB_HOST")
DB_PORT = os.getenv("DB_PORT", "5432")
DB_NAME = os.getenv("DB_NAME")
DB_USER = os.getenv("DB_USER")          # <- dein Key
DB_PASS = os.getenv("DB_PASSWORD")

assert DB_HOST and DB_NAME and DB_USER, "Fehlende DB-Variablen (DB_HOST/DB_NAME/DB_USER)"

engine = create_engine(
    f"postgresql+psycopg2://{DB_USER}:{DB_PASS}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
)

# Test
with engine.connect() as conn:
    print(conn.execute(text("SELECT current_user, current_database()")).fetchone())

('postgres', 'mimic')

In [2]:
import pandas as pd
from sqlalchemy import text

AKI_ONLY = True  # False = alle Patienten/Aufenthalte

def q(sql: str) -> pd.DataFrame:
    with engine.connect() as conn:
        return pd.read_sql(text(sql), conn)

In [3]:
# 1) Welche Creatinine-Labitems gibt es?
sql_creat_items = """
SELECT itemid, label
FROM d_labitems
WHERE LOWER(label) LIKE '%creatinine%'
ORDER BY itemid;
"""
df_creat_items = q(sql_creat_items)
df_creat_items.head(30)

    itemid                            label
0    50841              Creatinine, Ascites
1    50912                       Creatinine
2    51021          Creatinine, Joint Fluid
3    51032           Creatinine, Body Fluid
4    51052              Creatinine, Pleural
5    51067                 24 hr Creatinine
6    51070        Albumin/Creatinine, Urine
7    51073  Amylase/Creatinine Ratio, Urine
8    51080             Creatinine Clearance
9    51081                Creatinine, Serum
10   51082                Creatinine, Urine
11   51099         Protein/Creatinine Ratio
12   51106                 Urine Creatinine

In [4]:
sql_uo_items = """
SELECT itemid, label
FROM d_items
WHERE LOWER(label) LIKE '%urine%'
ORDER BY itemid;
"""
df_uo_items = q(sql_uo_items)
df_uo_items.head(50)

    itemid                        label
0      706                Urine [Color]
1      707                 Urine Source
2      941                urine culture
3     1011             urine osmolarity
4     1352                     urine pH
5     1495                     urine ph
6     1880                     Urine pH
7     1917                    Urine Na+
8     1918                    Urine Osm
9     1919                  Urine creat
10    2224                  URINE CREAT
11    2225                     URINE NA
12    2226                   URINE OSMO
13    2688                    URINE CL.
14    2690                    URINE OSM
15    2691              URINE POTASSIUM
16    2692                 URINE SODIUM
17    3140                    Urine Cl-
18    3816                Urine Glucose
19    3817                   Urine Heme
20    3818                Urine Ketones
21    3819             Urine Leukocytes
22    3822                Urine Protein
23    4855                Urine culture
24    5810                urine calcium
25    5811             urine creatinine
26    5812                  Urine lytes
27    5898                     urine na
28    6204                urine for CMV
29    6226                 urine for AA
30    6304                   urine cath
31    6754                     urine PH
32    7262                     Urine PH
33    7292              Urine source #2
34    8480           Urine [Appearance]
35   40055              Urine Out Foley
36   40056     Urine Out Lt Nephrostomy
37   40057     Urine Out Rt Nephrostomy
38   40061              OR Out OR Urine
39   40065            OR Out PACU Urine
40   40069               Urine Out Void
41   40085        Urine Out Incontinent
42   40094        Urine Out Condom Cath
43   40096  Urine Out Ureteral Stent #1
44   40288          PACU Out PACU Urine
45   40405              Urine Out Other
46   40428      Urine Out Straight Cath
47   40473        Urine Out IleoConduit
48   40534                  urine flush
49   40651  Urine Out Ureteral Stent #2