In [ ]:
import sys
from pathlib import Path

PROJECT_ROOT = Path.cwd().resolve().parents[0]
sys.path.insert(0, str(PROJECT_ROOT))

from src.db import q
from src.cohort import load_aki_cohort

df_aki = load_aki_cohort()
df_aki.head()

,subject_id,hadm_id,icustay_id,intime,outtime,gender,dob,admittime,dischtime,deathtime,ethnicity,age,hospital_mortality
0,3,145834,211552,2101-10-20 19:10:11,2101-10-26 20:43:09,M,2025-04-11,2101-10-20 19:08:00,2101-10-31 13:58:00,NaT,WHITE,76.0,0
1,9,150750,220597,2149-11-09 13:07:02,2149-11-14 20:52:14,M,2108-01-26,2149-11-09 13:06:00,2149-11-14 10:15:00,2149-11-14 10:15:00,UNKNOWN/NOT SPECIFIED,41.0,1
2,21,109451,217847,2134-09-11 20:50:04,2134-09-17 18:28:32,M,2047-04-04,2134-09-11 12:17:00,2134-09-24 16:15:00,NaT,WHITE,87.0,0
3,38,185910,248910,2166-08-10 00:29:36,2166-09-04 13:39:23,M,2090-08-31,2166-08-10 00:28:00,2166-09-04 11:30:00,NaT,WHITE,75.0,0
4,52,190797,261857,2191-01-10 02:12:55,2191-01-11 22:37:31,M,2152-11-26,2191-01-10 02:12:00,2191-01-19 16:10:00,NaT,WHITE,38.0,0

In [ ]:
q("SELECT COUNT(*) AS n FROM derived.mv_aki_icu_cohort")

       n
0  11374

In [5]:
q("""
SELECT
  COUNT(*) AS n_rows,
  COUNT(DISTINCT hadm_id) AS n_hadm,
  COUNT(DISTINCT subject_id) AS n_subject
FROM derived.mv_aki_icu_first_cohort
""")

   n_rows  n_hadm  n_subject
0   11374   11374       9515

In [6]:
df_aki.head()
df_aki["age"].describe()

count    10485.000000
mean        65.707201
std         15.055414
min         18.000000
25%         56.000000
50%         68.000000
75%         78.000000
max         89.000000
Name: age, dtype: float64

In [7]:
(df_aki["outtime"] - df_aki["intime"]).dt.total_seconds() / 3600

0        145.549444
1        127.753333
2        141.641111
3        613.163056
4         44.410000
            ...
10480    118.625000
10481    148.082500
10482     24.958611
10483     75.422778
10484     47.386944
Length: 10485, dtype: float64